@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Muli:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root{
    --font-primary: "Baloo Da 2", serif;
    --font-secundary: "Josefin Slab", serif;
    --font-action: "Muli", serif;
}

/*########################################################################

MENU HAMBURGUER

##########################################################################*/

.hamburguer{
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 1;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    transition: transform ease-out .8s;
}

.show-menu .hamburguer{
    transform: translateX(-14rem);
}

.line{
    width: 100%;
    background-color: white;
    height: 2px;
    box-shadow: 1px 1px 1px black;
    transition: all ease-out .8s;
    opacity: 1;
}

.show-menu .line{
    background-color: rgba(0,0,0,.6);
    box-shadow: 1px 1px 1px snow;
}

.show-menu #line1{
    transform: rotateZ(390deg) translateY(.2rem)
}

.show-menu #line2{
    visibility: hidden;
    opacity: 0;
}

.show-menu #line3{
    transform: rotateZ(-390deg) translateY(-.2rem)
}

.hamburguer span{
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3c1053;
    color: white;
    font-family: var(--font-action);
    opacity: 0;
    transition: opacity ease-in .2s;
}

.hamburguer span::before{
    content: '';
    position: absolute;
    border-right: .5rem solid #3c1053;
    border-top: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    border-left: .5rem solid transparent;
    left: -1rem;
}

.show-menu .hamburguer:hover span{
    opacity: 1;
}

/*########################################################################

HEADER

##########################################################################*/

header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.7)
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 10s;
}

@keyframes zoom {
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.banner{
    position: absolute;
    top: 30%;
    left: 15%;
}

.banner h1{
    color: white;
    font-size: 3.5rem;
    font-family: var(--font-primary);
    font-weight: 200;
    text-shadow: .2rem .3rem 2px rgba(0,0,0,.4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: move-banner 1s ease-in forwards;
    width: 18ch;
}

.banner p{
    font-family: var(--font-secundary);
    color: white;
    font-size: 2rem;
    text-shadow: .2rem .2rem rgba(0,0,0,.4);
    margin-bottom: 2rem;
    opacity: 0;
    animation: move-banner 1s ease-in forwards 0.25s;
}

.banner button{
    font-family: var(--font-action);
    color: white;
    text-transform: uppercase;
    letter-spacing: .1rem;
    background: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0.75rem 2rem;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    animation: move-banner 1s ease-in forwards 0.5s;
}

.banner button:hover{
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: black;
}

@keyframes move-banner {
    0%{
        transform: translateY(15rem) rotateY(-30deg) rotateZ(-10deg);
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/*########################################################################

SIDEBAR

##########################################################################*/

.sidebar{
    width: 20rem;
    height: 100vh;
    background-color: white;
    position: fixed;
    right: -20rem;
    top: 0;
    transition: right ease-out .5s;
}

.show-menu .sidebar{
    right: 0;
}

.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item{
    text-align: center;
    margin-bottom: .4rem;
}

.menu-link{
    font-family: var(--font-secundary);
    font-size: 2rem;
    font-weight: 700;
    color: grey;
    transition: color 0.3s;
}

.menu-link:hover{
    color: #3c1053;
}

.social-media{
    background-color: #3c1053;
    opacity: .8;
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 2px 0;
}

.social-media i{
    color: white;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .1rem;
    border-radius: 50%;
}

.social-media i:hover{
    background-color: white;
    color: #3c1053;
}

/*########################################################################

SESSÃO CONHECIMENTOS

##########################################################################*/

.conhecimentos{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 5rem);
    row-gap: 1rem;
}

.conhecimento:nth-child(1){
    grid-column: 3 / 7;
    grid-row: 1 / 2;
}

.conhecimento:nth-child(2){
    grid-column: 2 / 6;
    grid-row: 3 / 4;  
}

.conhecimento:nth-child(3){
    grid-column: 3 / 7;
    grid-row: 5 / 6;  
}

.conhecimento:nth-child(4){
    grid-column: 11 / 15;
    grid-row: 1 / 2;  
}

.conhecimento:nth-child(5){
    grid-column: 12 / 16;
    grid-row: 3 / 4; 
}

.conhecimento:nth-child(6){
    grid-column: 11 / 15;
    grid-row: 5 / 6; 
}

.conhecimento-img-wrapper{
    grid-column: 7 / 11;
    grid-row: 1 / 4;
}

.sessao-conhecimentos{
    background-color: #d6d6d6;
}

.sessao-header{
    display: flex;
    justify-content: center;
}

.sessao-header h1{
    font-family: var(--font-primary);
    font-size: 3rem;
    font-weight: 300;
    color: gray;
    border-bottom: 2px solid #3c1053;
    margin-bottom: 1.5rem;
}

.conhecimento-header{
    display: flex;
    align-items: center;
    color: gray;
}

.conhecimento-header i{
    font-size: 2.5rem;
}

.conhecimento-header h3{
    font-family: var(--font-secundary);
    font-size: 2rem;
    padding-left: 1rem;
    text-transform: uppercase;
}

.conhecimento-text{
    font-family: var(--font-secundary);
    margin-top: 1rem;
}

.conhecimento-img-wrapper img{
    object-fit: cover;
    width: 100%;
}

/*########################################################################

SESSÃO PROJETOS

##########################################################################*/

.projetos{
    display: flex;
    justify-content: space-evenly;
}

.card{
    width: 20rem;
    height: 25rem;
    position: relative;
}

.card-img-wrapper{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgb(61, 58, 58);
}

.card-img-wrapper img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: .7;
    border-radius: 10px;
    transition: opacity ease-in .3s;
}

.card-info{
    position: absolute;
    bottom: 0;
    padding: 2rem;
    text-shadow: 0 0.1rem 0.3rem rgba(0,0,0);
    opacity: 0;
    visibility: hidden;
    transition: all ease-in .3s;
}

.card-info h2{
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 500;
    color: #eee;
}

.card-info h3{
    font-family: var(--font-secundary);
    font-size: 2rem;
    font-weight: 900;
    color: #ad5389;
}

.card-info p{
    font-family: var(--font-secundary);
    color: #eee;
    font-weight: 600;
    width: 90%;
    margin: 1rem 0;
}

.card-info button{
    font-family: var(--font-action);
    font-size: .75rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: .1rem;
    background: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0.75rem 2rem;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.card-info button:hover{
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: black;
}

.card:hover .card-info{
    opacity: 1;
    visibility: visible;
    bottom: 2rem;
}

.card:hover img{
    opacity: .4;
}